body {
    background-color: rgb(192, 216, 209);
    font-family: serif;
}

.jumbotron {
    text-align: center;
    background: rgb(77, 105, 77);
    color: whitesmoke;
    border: 1px solid whitesmoke;
    font-size: 40px;
}

.article {
    border: 1px solid whitesmoke;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.button {
    margin: 10px;
}